.navbar {
    padding : 1vh;
    background-color: rgba(160, 157, 157, 0.092);
    /* border-style: inset; */
    /* border-width: 0.1vh; */
    box-shadow: 0 0 0.01vh 0.01vh rgba(254, 254, 254, 0.2);
    margin: 1vh 10vh;
    border-radius: 5vh;
    width: 80vw;
    min-width: 300px;
    position: sticky;
    top: 1vh;
    z-index: 100;
}


.navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.navbar > ul > li {
    list-style: none;
    padding: 1vh;
    cursor: pointer;
}

