.navbar {
    padding : 1vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1vh;
    border-radius: 5vh;
}


.navbar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.navbar > ul > li {
    list-style: none;
    border : 0.1vh solid white;
    padding: 1vh;
    border-radius: 2vh;
    cursor: pointer;
}

