* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* background wallpaper for the whole project */
body {
    background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 0%) 0%,
    hsl(240deg 20% 1%) 31%,
    hsl(210deg 20% 2%) 45%,
    hsl(220deg 20% 3%) 55%,
    hsl(225deg 20% 4%) 62%,
    hsl(216deg 20% 5%) 68%,
    hsl(214deg 24% 6%) 72%,
    hsl(210deg 24% 7%) 77%,
    hsl(213deg 23% 8%) 81%,
    hsl(216deg 23% 9%) 84%,
    hsl(213deg 22% 10%) 89%,
    hsl(215deg 22% 11%) 100%
  );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}